.about {
  padding-top: 150px;
  padding-bottom: 150px;
}

.about h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;

  @media (max-width: $viewport--xl) {
    font-size: 44px;
    line-height: 46px;
  }

  @media (max-width: $viewport--lg) {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 50px;
  }

  @media (max-width: $viewport--md) {
    font-size: 36px;
    line-height: 38px;
  }

  @media (max-width: $viewport--sx) {
    font-size: 26px;
    line-height: 28px;
  }
}

.about__wrapper {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $viewport--lg) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.about__wrapper img {
  object-fit: cover;

  @media (max-width: $viewport--lg) {
    margin-bottom: 30px;
  }

  @media (max-width: $viewport--sx) {
    width: 260px;
    height: 260px;
  }
}

.about__wrapper p {
  font-weight: 400;
  font-size: 19px;
  line-height: 21px;
  width: 665px;

  @media (max-width: $viewport--md) {
    width: 100%;
  }

  @media (max-width: $viewport--sx) {
    font-size: 16px;
    line-height: 18px;
  }
}
