.advantages {
  padding-bottom: 295px;

  @media (max-width: $viewport--md) {
    padding-bottom: 100px;
  }
}

.advantages h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;

  @media (max-width: $viewport--xl) {
    font-size: 44px;
    line-height: 46px;
  }

  @media (max-width: $viewport--lg) {
    font-size: 40px;
    line-height: 42px;
  }

  @media (max-width: $viewport--md) {
    font-size: 36px;
    line-height: 38px;
  }

  @media (max-width: $viewport--sx) {
    font-size: 26px;
    line-height: 28px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0 auto;
  max-width: 1005px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;

  @media (max-width: $viewport--lg) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.advantages__item {
  display: flex;
  width: 460px;
  align-items: center;
  margin-bottom: 110px;

  @media (max-width: $viewport--md) {
    width: 100%;
  }
}

.advantages__item p {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  text-transform: uppercase;

  @media (max-width: $viewport--lg) {
    font-size: 22px;
    line-height: 24px;
  }

  @media (max-width: $viewport--md) {
    font-size: 18px;
    line-height: 20px;
  }

  @media (max-width: $viewport--sx) {
    font-size: 16px;
    line-height: 18px;
  }
}
