.page-footer {
  background-color: #2d2d2d;
}

.page-footer__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 840px;
  display: flex;
  margin: 0 auto;
  align-items: center;

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: flex-start;
    width: 285px;
  }
}

.page-footer__wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  margin: 0;
  padding: 0;
}

.page-footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  margin-left: 60px;
  margin-right: auto;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 840px) {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}
