.reason {
  padding-bottom: 100px;

  @media (max-width: $viewport--md) {
    padding-bottom: 70px;
  }
}

.reason h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $viewport--xl) {
    font-size: 48px;
    line-height: 50px;
  }

  @media (max-width: $viewport--lg) {
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 50px;
  }

  @media (max-width: $viewport--md) {
    font-size: 38px;
    line-height: 40px;
  }

  @media (max-width: $viewport--sx) {
    font-size: 32px;
    line-height: 34px;
  }
}

.reason__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 990px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media (max-width: $viewport--lg) {
    flex-direction: column;
    align-items: center;
  }
}

.reason__item {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  @media (max-width: $viewport--sx) {
    width: 270px;
  }
}

.reason__item img {
  height: 157px;
  object-fit: cover;
}

.reason__item-header {
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 50px;

  @media (max-width: $viewport--md) {
    margin-bottom: 30px;
  }

  @media (max-width: 390px) {
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 15px;
    margin-top: 25px;
  }
}

.reason__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (max-width: 390px) {
    font-size: 14px;
    line-height: 16px;
  }
}
